<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad de Tips</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of categories">
                    <td>{{item.name}}</td>
                    <td>{{item.tips_count}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="getCategory(item.id)">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div *ngIf="message != ''">
            <div class="alert" role="alert" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
                {{message}}
            </div>
        </div>

        <div class="table-responsive">
            <form [formGroup]="formulario" novalidate>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="id" formControlName="id" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" name="name" formControlName="name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="image">Imagen</label>
                    <input type="file" class="form-control-file" name="image" formControlName="image" (change)="onFileChange($event)">
                </div>
                <div class="form-group">
                    <img class="image" *ngIf="formulario.value.url" [src]="formulario.value.url | imageUrl: ['category', formulario.value.url]" />
                </div>
                <br><br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" (click)="guardar()">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>