.main-panel .content {
    padding: 0px !important;
    margin-top: 0px !important;
}

.main-panel {
    width: 100% !important;
    height: 100% !important;
}

.content {
    position: absolute;
    background: url("../../../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.content .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar {
    display: none;
}

.form {
    width: 60vh;
    // height: 60vh;
    z-index: 1;
    background-color: hsla(210, 6%, 93%, 0.80);
    border-radius: 5px;
    text-align: center;
    padding: 60px 40px 60px 40px;
    margin: auto !important;
}

@media only screen and (max-width: 600px) {
    .form {
        width: 90%;
        height: 90%;
    }
}

.form .thumbnail {
    margin: 0 auto 20px;
    border-radius: 100%;
    box-sizing: border-box;
}

.form .thumbnail img {
    display: block;
    margin: 0 auto;
    margin-top: -15px;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #ef3d2f;
}


/* END Form */


/* Demo Purposes */

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

.link {
    font-size: 17px;
    font-weight: 600;
}