.card {
    border-radius: .30rem !important;
}

.card-body {
    color: white;
    border-radius: .30rem !important;
    span {
        font-size: 20px;
    }
    span.badge {
        font-size: 13px;
    }
}

.btn-link {
    color: rgb(33, 33, 33) !important;
    text-decoration: none;
}

.accordion {
    width: 100%;
}

.tips {
    padding: 10px;
}