<div class="row">
    <div class="col-md-4 mb-4" *ngFor="let item of categories">
        <div class="card mr-3">
            <div class="card-body" [style]="item.image | imagePipe:['category', item.image]" alt="Card image cap">
                <h4 class="card-title"> {{item.name}} </h4>
                <br> <br> <br>
                <span class="mr-2">Tareas</span> <span class="badge badge-light">{{item.tips_count}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <br><br>
        <h1 class="text-secondary">Datos Estadisticos</h1>
        <hr>
    </div>
</div>

<app-status></app-status>

<div class="row">
    <div class="col-md-12">
        <br><br>
    </div>
</div>
<!-- 
<div class="row tips" *ngIf="tips.length > 0">
    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel *ngFor="let item of tips">
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex justify-content-between">
                    <button ngbPanelToggle class="btn btn-link pl-0">{{item.title}}</button>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>
                <p class="text-muted"> {{item.description}}</p>
                <div class="row" *ngIf="item.withReminder == 1">
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-sm mt-2" (click)="getTips(item.id)">
                            Avisarme en...
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div> -->