<div class="row">
    <div class="col-md-4 col-md-4 mb-4" *ngFor="let item of categories">
        <div class="card">
            <div class="card-body" [style]="item.image | imagePipe:['category', item.image]" alt="Card image cap">
                <h4 class="card-title"> {{item.name}} </h4>
                <br> <br> <br>
                <span class="mr-2">Tareas</span> <span class="badge badge-light">{{item.tips_count}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <br><br>
        <h1 class="text-secondary">Datos Estadisticos</h1>
        <hr>
    </div>
</div>

<app-status></app-status>

<div class="row">
    <div class="col-md-12">
        <br><br>
    </div>
</div>